<div class="board">
	<ng-container *ngIf="board">
		<div class="board-bar">
			<p class="board-name">{{ board.name }}</p>
		</div>

		<div class="board-wrapper">
			<div class="board-columns" cdkDropListGroup>
				<ng-container *ngFor="let column of board.columns">
					<board-column [column]="column"> </board-column>
				</ng-container>

				<div class="add-column">
					<button class="button is-fullwidth" (click)="addColumn()">
            <span>Adicionar Coluna</span>
            <span class="icon">
              <i class="iconify" data-icon="mdi:table-column-plus-after" data-inline="false"></i>
            </span>
          </button>
				</div>
			</div>
		</div>
	</ng-container>
</div>